.content {
    min-height: calc(100vh - 50px);
}

footer {
    display: flex;
    height: 70px;
    justify-content: flex-end;
    background: #3f51b5;
    align-items: center;
    color: #fff;
    padding: 0 24px;
}
